{% import 'helper.j2' as helper %}

## Data

Data Catalog: {{Catalog.label}}: {{Catalog.comment}}

Data Query: {{Query.label}}: {{Query.comment}}


The system sends a Data Query on the {{Catalog.label}} catalog. The query is defined by the following parameters: {{helper.cycler(QuestionVariable)}}

The query returns {{Resource|length}} resources. The resources are:
{{helper.enumerate_list_value(Resource)}}